# Keil Clean
*.rar
*.o
*.d
*.crf
*.htm
*.dep
*.map
*.bak
*.lnp
*.lst
*.ini
*.iex
*.sct
*.scvd
*.uvguix
*.dbg*
*.uvguix.*
*.log
*.lock
.vscode
mxproject


Listings
Objects

!*.uvprojx
!*.h
!*.c
!*.ioc
!*.axf
!*.bin
!*.hex

